extends layouts/main


block content
  .form-container
     form(action=routes.changePassword,method="post")
       input(type="text",placeholder="Current Password",name="CurrentPassword")
       input(type="text",placeholder="New Password",name="NewPassword")
       input(type="text",placeholder="Verify New Password",name="VerifyNewPassword")
       input(type="submit",value="Change Password")

     